/* navbar styles */
.navbar.housing{
    background-color: #1f2937;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
.navbar .container{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 100px;
}
.navbar .logo{
    margin-left: 190px;
}
.navbar .menu{
    display: flex;
    gap: 20px;
    margin-left: 260px;
}
.list.big{
    font-size: 24px;
    color: #F9FAF8;
}
.list.small{
    font-size: 18px;
    color: #e5e7eb;
}
/* hero text styles */
.word.container{
    background-color: #1f2937;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 230px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.paragraph.big{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.paragraph.small{
    font-size: 18px;
    color: #e5e7eb;
}
.bttn{
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image{
    margin-left: 30px;
    height: 200px;
    width: 450px;
}
/* information styles */
.some.information{
    padding-bottom: 80px;
}
.text{
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
.flex.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.imagesinfo{
    height: 100px;
    width: 125px;
    border-radius: 10px;
    border: 2px solid #3882f6;
}
.division-one,
.division-two,
.division-three,
.division-four{
    text-align: center;
}
/* quotes section */
.qoute-section{
    background-color: #e5e7eb;
    padding-left: 285px;
    padding-right: 285px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 80px;
    margin-right: -8px;
    margin-left: -8px;
}
.pa.big{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}
.pa.small{
    margin-left: 580px;
}
/* call to action styles */
.action{
    background-color: #3882f6;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 80px;
}
.dive-one{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}
.dive-two{
    color: #F9FAF8;
}
.signup{
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px;
}
/* footer styles */
.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
}